* {
  font: 1em Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: #0a0a0a;
  color: #fafafa;
}

h1 {
  font-size: 2.125rem;
  font-weight: bold;
}

.main {
  display: flex;
  height: 100%;
}

.sidebar {
  display: grid;
  padding: 16px;
  background-color: #e5e5e5;
}

.dates,
.lists {
  display: grid;
}

.lists > div {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  text-decoration: underline gray;
}

nav > button {
  width: 100%;
  font-size: 1.5rem;
  padding: 5px 10px;
  cursor: pointer;
}

/*Main Content*/

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 100%;
}

dialog[open] {
  position: relative;
  top: 40%;
  left: 40%;
  padding: 20px 40px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form > input,
form > select,
form > button {
  padding: 5px 10px;
}

.dialog-buttons {
  display: flex;
  justify-content: space-evenly;
}

/**/

.task-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 16px;
}

.task {
  display: flex;
  gap: 10px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 16px;
}

.check-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="radio"] {
  height: 100%;
  width: 25px;
}

.task-info-container {
  flex: 1;
  font-size: 2rem;
}

#descrip-div {
  font-size: 1rem;
  color: gray;
}

#due-date-div {
  font-size: 1.5rem;
  color: gray;
}

.task-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#edit-button,
#delete-button {
  font-size: 18px;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
}

#edit-button {
  background-color: #0ea5e9;
  color: white;
}

#delete-button {
  background-color: #dc2626;
  color: white;
}
