* {
  font: 1em Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: #404040;
  color: #fafafa;
  height: 100px;
}

h1 {
  font-size: 2.125rem;
  font-weight: bold;
}

.main {
  display: flex;
  height: 100%;
}

/*Sidebar Styles*/

.sidebar {
  display: grid;
  padding: 16px;
  background-color: #fafafa;
  min-width: 225px;
}

.dates,
.lists {
  display: grid;
  justify-items: start;
}

.dates > nav > button {
  font-weight: bold;
  border: none;
  color: #f59e0b;
  background-color: transparent;
}

.lists > div {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  text-decoration: underline gray;
  margin-left: 10px;
}

nav > button {
  width: 100%;
  font-size: 1.5rem;
  padding: 5px 10px;
  cursor: pointer;
}

.list-buttons {
  font-weight: bold;
  border: none;
  color: #2563eb;
  background-color: transparent;
}

/*Main Content Styles*/

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 100%;
}

dialog[open] {
  position: relative;
  top: 30%;
  left: 40%;
  padding: 40px;
  border: none;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form > input,
form > select,
form > button {
  padding: 5px 10px;
  font-size: 1.75rem;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
}

#form-title {
  font-weight: bold;
  color: #a3a3a3;
}

form > label {
  font-size: 1.5rem;
  padding-left: 10px;
  color: #a3a3a3;
}

select {
  background-color: white;
}

select option {
  background-color: white;
}

.dialog-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 1.5rem;
}

#cancel-task,
#submit-task {
  font-size: 1.25rem;
  padding: 5px 10px;
  border: none;
  background-color: white;
  cursor: pointer;
}

#cancel-task {
  color: #2563eb;
}

#submit-task {
  color: #2563eb;
  font-weight: bold;
}

/*List Name and Add New Button Styles*/

#list-name {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 16px;
  color: #d4d4d4;
}

#add-new-task {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: none;
  gap: 5px;
  border-radius: 8px;
  font-size: 1.25rem;
  color: #2563eb;
  background-color: white;
  cursor: pointer;
}

#add-icon {
  content: url(icons/add-icon.svg);
}

/*Task Container Styles*/

.task-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 16px;
}

.task {
  display: flex;
  gap: 10px;
  border-bottom: 2px solid #d4d4d4;

  padding: 16px;
}

.check-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="radio"] {
  height: 100%;
  width: 25px;
}

.task-info-container {
  flex: 1;
  font-size: 2rem;
}

#priority-div {
  color: #f59e0b;
}

#descrip-div {
  font-size: 1rem;
  color: gray;
}

#due-date-div {
  font-size: 1.5rem;
  color: gray;
}

/*Task Button Styles*/

.task-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#edit-button,
#delete-button {
  font-size: 18px;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  height: 30px;
  width: 30px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;

  cursor: pointer;
}

#edit-button {
  background-image: url(icons/edit-icon.svg);
}

#delete-button {
  background-image: url(icons/trash-icon.svg);
}
